<!DOCTYPE html>
<html>
    <head>
        <title>Basic Web Page</title>
    </head>
    <body>
Hello! Here is my basic web page! This was created from {{ ansible_distribution }} {{ ansible_distribution_version }}
    </body>
</html>
